extends header

block body
   div.container
      div.grid-80
         div.grid-25
            ul#userList
         div.grid-75
            br
            div.controls
               input(type='text' id='inputForm' class='nameForm' placeholder='Enter Your Name')#usernameInput
               br
               button(class='button')#usernameSet Submit  
            
            div#itemControl
               input(type='number' placeholder='quantity' class='nameForm')#quantity 
               br
               input(type='text' placeholder='of items' class='nameForm')#description
               br
               input(type='number' placeholder='at price' class='nameForm')#price
               br
               button(class='button')#addItem Add Item
            ul#itemList


    

