extends header

block body
	div.grid-container
		div.grid-20
			h3 What is this?
			p Web app that allows for a group of people to connect to a shared room and add their items. The app shows the tax and tip relative to each item that’s been added.
			div#roomList2
		div.grid-40
			h3 First what is your name?
			div#input
			input(type='text' class='nameForm' placeholder='username')#userName			
		div.grid-40
			div#input
				h3 You can create a new room
				input(type='text' class='nameForm' placeholder='roomname')#roomName
		
				h3 Or select one of the rooms below 
				select#roomList
					option ClickityClack
					
				br
				br
				button(class='button')#joinRoom Go! 

	script(src="scripts/index.js")

