extends header

block body
   div.grid-container
      div.grid-60
         div#input
            input(type='text' class='nameForm' placeholder='username')#userName
            br
            input(type='text' class='nameForm' placeholder='roomname')#roomName
            br
            button(class='button')#joinRoom Submit 
   
   script(src="scripts/index.js")