extends header

block body
  div.grid-container
    div.grid-20
       h3 In Room
       div#userList
    div.grid-40 
      div#itemControl
        input(type='number' placeholder='quantity' class='nameForm')#quantity 
        br
        input(type='text' placeholder='of items' class='nameForm')#description
        br
        input(type='number' placeholder='at price' class='nameForm')#price
        br
        button(class='button')#addItem Add Item
        h3 Item List
        ul#itemList
        h3 Message List
        div#messageList

    div.grid-40
      div#subTotal 
      div#groupTotal
      p Have a few people connect to this room and add their food items. You will see the updated totals in realtime in the top right corner

      div(class='placeholder2' style="height:200px;")#placeholder2
      br 
      br
      div(class='placeholder' style="height:200px;")#placeholder



    script(src="scripts/jquery.flot.js")
    script(src="scripts/jquery.flot.pie.js")
    script(src="scripts/frontend.js")





