header {
  background-color: #F7464A;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}
 
header h1.logo {
  margin: 0 auto; 
  font-size: 2.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo a{
  text-decoration: none;
  color: inherit;
}

header h1.logo a:visited{
  text-decoration: none;
  color: inherit;
}

header h1.logo a:hover{
  text-decoration: none;
  font-weight: 800;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Display navigation links inline
 */
.staticmenu {
  width: 940px;
  margin: 0 auto;
}

.menu {
  float: right;
}
 
.menu li {
  display: inline;
  margin-right: 5px;
  margin-left: 35px;
  color: #66FF99;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}


/*
 * Center the body content
 */

body {
  margin: 0;
  margin-top: 50px;
  /*padding: 0;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  
}

h2 {
  font-size: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 00;
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  width: 940px;
  margin: 0 auto
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.content {
    /*margin-top: 100px;*/
    float: center;
    position:relative;
    width: 940px;
    margin: 0 auto;
    /*top: 100px;*/

}

.nameForm {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

.side {
  float: right;
}


/*Button*/
.button {
  text-align: center;
}

.button {
    font-size: 1em;
    background-color: #F7464A;
    border:solid 1px #F7464A;
    color: #fff;
    height: 28px;
    padding-left:10px;
    width: 400px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
