header {
  background-color: #0099CC;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}
 
header h1.logo {
  margin: 0 auto; 
  font-size: 2.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

/*
 * Display navigation links inline
 */
.staticmenu {
  width: 940px;
  margin: 0 auto;
}

.menu {
  float: right;
}
 
.menu li {
  display: inline;
  margin-right: 5px;
  margin-left: 35px;
  color: #66FF99;
}

/*
 * Center the body content
 */

body {
  margin: 0;
  margin-top: 65px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
h3 {
  font-size: 1.2em;
  font-weight: 00;
  margin-top: 10px;
  text-align: left;
  letter-spacing: -1px;
  color: #F7464A;
}


.nameForm {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

/*Button*/
.button {
  text-align: center;
}

.button {
    font-size: 1em;
    background-color: #F7464A;
    border:solid 1px #F7464A;
    color: #fff;
    height: 28px;
    padding-left:10px;
    width: 400px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
